// Include configuration

@import "configuration/_variables";
@import "configuration/_mixins";

// lt-ie9 styles

.lt-ie9 {

  .bottom a {
    color: $white;
  }

  .search-overlay--inner {
    background-color: $black;
  }

  .search-overlay--wrapper a,
  .more-link a,
  .news-list .news-link a,
  .news-list .news-author a,
  .pane-ding-facetbrowser a,
  .pane-ting-ting-object-types li a,
  .pane-ting-object .field-name-ting-author a,
  .pane-search-result .search-results .list .content a {
    color: $link-color;
  }

  .pane-ting-object .group-material-details h2 a,
  .pane-ting-object .group-holdings-available h2 a,
  .pane-ting-object .ting-object-inner-wrapper h2 a,
  .pane-search-result .search-results .list .heading h2 a {
    color: $black;
  }

  .pane-ding-facetbrowser a:visited,
  .pane-search-backends a:visited {
    color: $link-color;
  }

  .panel-2col {

    margin-right: 20px;
    margin-left: 20px;

    .panel-col-first,
    .panel-col-last {
      float: left;
    }

    .panel-col-first {
      width: span(32%);
    }

    .panel-col-last {
      width: span(68%);
    }
  }

  .topbar {
    padding-top: 0;
    background-color: transparent;

    .topbar-inner {
      background: url(../images/header.png) 50% 100% no-repeat;
      min-height: 210px;
    }
  }

  .search .form-item {
    overflow: hidden;
  }

  .search .form-text {
    @include min-height(60px);
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #959595;
  }

  .navigation-wrapper {

    .menu-mlid-375 > a + .main-menu {
      position: absolute;
    }

    .main-menu .main-menu {
      border-top: 1px solid #959595;

      .menu-item {
        margin-right: 10px;
        font-size: 60%;
      }
    }

    // Main menu and secondary menu

    .main-menu .menu-item,
    .secondary-menu .menu-item {
      padding: 0;
    }

    // User menu

    @at-root {
      .navigation-inner {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }

  // Inputs

  .header-wrapper {
    .search .form-text,
    .search-field-in-content .form-text,
    .user .form-text,
    .search .form-submit,
    .search-field-in-content .form-submit,
    .user .form-submit {
      @include min-height(60px);
      line-height: 60px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .user .form-item {
      overflow: hidden;
    }
  }


  // News image

  .news-list .news-image-wrapper {
    width: 150px;

    img {
      height: auto;
      min-height: 0;
      width: 100%;
    }
  }

  // Event image

  .event-list .event-image-wrapper {
    min-width: 108px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .event .event-image {
    width: 300px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

