.panel-2col {

  // Media till-x-large

  @include till-x-large() {
    margin-right: 0.9%;
    margin-left: 1.1%;
  }

  // Media x-large

  @include x-large() {
    margin-right: 20px;
    margin-left: 20px;
  }

  .panel-col-first,
  .panel-col-last {
    @include box-sizing(border-box);
    padding: 40px 25px 25px 25px;

    // Media from-medium

    @include from-medium() {
      float: left;
    }
  }

  .panel-col-first {
    background-color: $layout-left;
    color: $white;

    // Media Tablet-desktop

    @include from-medium() {
      width: span(32%);
    }
  }

  .panel-col-last {
    background-color: $layout-right;

    // Media From-medium

    @include from-medium() {
      width: span(68%);
    }
  }
}

