.label {

  // Make sure it works with a wrapper
  a {
    background-color: $label-bg-color;
    color: $label-text-color;

    &:link,
    &:visited {
      color: $label-text-color;
    }

    &:hover {
      background-color: $label-bg-color-hover;
      color: $label-text-color-hover;
    }
  }
}
